/*--Responsive Styles--*/
@media screen and (max-width: 1150px){
	.loginweblogo {width: 200px; padding: 10px 20px 10px;}
	.loginweblogo img {max-width: 100%;}
	.loginform {width: calc(100% - 200px);}
	.loginform .button_wrap {width: 120px; padding-left: 10px;}
	.loginform .form_input_wrap {width: calc(100% - 120px);	}
}
@media screen and (max-width: 991px){
	.jpl_btn_padding {padding: 0px;}
	.navbar-toggler { padding: .25rem 1.75rem; } 
   
}
@media screen and (max-width: 850px){
	.loginform label[class="loginlabel_txt"] {width: 70px;font-size: 14px;padding: 0 5px 0 0px;}
	.loginform .rhs {width: calc(100% - 70px);}
	.loginform input {width: calc(100% - 70px);}
	.loginform input:focus {width: calc(100% - 70px);}
	.loginform .error {width: calc(100% - 70px);}
}
@media screen and (max-width: 800px){
	.content.loginindex {
		width: 100%;
		background-image: url('img/login_bg.jpg');
		background-size: auto 100%;
		height: 100vh;
		float: left;
		background-repeat: no-repeat;
		background-position: center;
		text-align: center;
	}
	.loginwrap {float: none;width: auto;margin-top: 50%;max-width: 360px;display: inline-block;}
	.loginweblogo {width: 100%;}
	.loginform {width: 100%;padding: 0 20px;}
	.loginform .form_input_wrap {width: 100%;}
	.form_input_left {width: 100%;}
	.form_input_right {width: 100%;}
	.loginform label[class="loginlabel_txt"] {width: 100%;text-align: left;}
	.loginform input {width: 100%; margin-bottom: 15px;}
	.loginform input:focus {width:100%; margin-bottom: 15px;}
	.loginform .error {width:100%; text-align: left;}
	.loginform .rhs {width: 100%;margin-bottom: 15px; text-align: left;}
	.loginform .button_wrap {width: 100%;margin-bottom: 15px;padding: 0;}
	.loginform .button_wrap .lhs {width: 100%;}
	#ForgotPwdModal .loginwrap {width: 100%;margin: 0px; max-width: 100%;} 
	#ForgotPwdModal .loginform .button_wrap .lhs {width: auto;}
	#ForgotPwdModal .loginform .button_wrap .rhs {padding: 0 0 0 0;}
}
@media screen and (max-width: 767px){	
	.main-panel > .content {margin-top: 50px;}
	.content.mt100 {margin-top: 100px;}
	.page-admin-search .form-check.ashram_seva_wrap {margin: 0px 0 0;}
	.mobile_area {
		display: block;
	}

}
@media screen and (max-width: 580px){
	.jpl_btn_padding {width: 100%;padding-left: 30px;}
	.loginwrap {margin-top: 30%;}
	.havanstable tbody tr td, .havanstable thead tr th {
		font-size: 13px;	
	}
}
@media screen and (max-width: 350px){
	.content.mt100 {
		margin-top: 115px;
	}
}